
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  color: #333;
}

:root {
  --primary-green: #2E7D32;
  --secondary-grey: #F8F9FA;
}

nav ul {
  display: flex;
  list-style: none;
  background-color: var(--primary-green);
  margin: 0;
  padding: 10px;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  font-size: 0.33rem;
  text-decoration: none;
  font-weight: bold;
}

h1, h2, h3 {
  color: var(--primary-green);
}

section {
  padding: 20px;
  margin: 20px auto;
  max-width: 900px;
  background-color: var(--secondary-grey);
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: var(--primary-green);
  color: white;
}
